.App {
    text-align: center;
  }
  .outer {
    background-color: lavender;
  
    padding: 15px;
    padding-bottom: 1em;
  }
  .allTodos {
    background-color: orange;
    font-size: 22px;
    margin: 1px;
    margin-left: 18px;
    padding: 15px;
  }
  
  .new-todo {
    background: lightgreen;
    padding: 15px;
    margin-left:15px;
  }
  
  .center-img {
    display: block;
    margin: auto;
  }